# File: requirements.txt (DIPERBAIKI)

fastapi # Versi bisa ditambahkan jika perlu, misal >=0.100.0
uvicorn[standard] # Untuk menjalankan server
sqlalchemy[asyncio] # SQLAlchemy dengan dukungan asyncio
asyncpg # <-- DRIVER ASYNC YANG DIPERLUKAN
alembic
python-multipart
passlib[bcrypt]
email-validator
python-jose[cryptography] # Cukup satu baris
fastapi-users[sqlalchemy] # Library user auth
python-dotenv # Untuk .env lokal
requests # Untuk OpenTDB
wikipedia # Untuk Wikipedia
html5lib # Dependensi Wikipedia
beautifulsoup4 # Dependensi Wikipedia

