fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
python-multipart
passlib[bcrypt]
email-validator
python-jose[cryptography]
fastapi-users[sqlalchemy]
python-dotenv
requests
wikipedia
html5lib
beautifulsoup4